body {
    background-size: cover;
  }
  
  .heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
  }
  
  .note {
    font-size: 15px;
    color: #000;
  }
  
  .volume {
    float: left;
  }
  
  .speed {
    float: right;
  }
  
  .disk {
    width: 200px;
    border-radius: 100px;
  }
  
  .small_disk {
    width: 100px;
    border-radius: 100px;
  }
  
  .result {
    font-size: 23px;
    margin: 20px;
  }
  
  .play_button {
    font-size: 23px;
    width: 120px;
  }
  
  canvas {
    margin-top: 50px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
  }
  
  #song-name {
    border: 0px;
    background-color: fuchsia;
    padding: 5px;
  }